.footer {
  background: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  margin: 0;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  min-height: 250px;
}

.footer__column {
  position: relative;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.footer__column-link {
  display: block;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

.footer__column-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__social-icon,
.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  color: #fff;
  padding: 0;
}

.footer__icon-img {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  }